{% extends 'base.html' %}
{% block content %}

  <!-- Header-->
        <header class="bg-warning py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-black-50 mb-0">Welcome To Aisha Ecommerce Website</p>
                    <p class="lead fw-normal text-black-50 mb-0">This website is the first website Aisha will build as a Computer Science student 
                                            during her IT for CSC 392 Course. This is a website that showcase MTN products for customers to order from.
                                        </p>
                                        <!-- Django episode (6) 13:30 -->

                    </div>
                    </div>
                    </header>
           
{% endblock %}