{% extends 'base.html' %}
{% block content %}

  <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome To Aisha Ecommerce Website</p>
                    <p class="lead fw-normal text-white-50 mb-0">This website is the first website Aisha will build as a Computer Science student 
                                            during her IT for her school project. She has learned Django backend few 
                                            months before her admission to LASU but the tutor lecture then 
                                            wasn't suitable for her and difficult for her to understand. She searched for Django Ecommerce website follow along tutorial which  wasn't availabe on Youtube at that time until she this challenge met her again in 300L.
                                            She didn't have any idea what to build for her school IT project so she decided to welcome the challenge again fix it this time until
                                            she came across a video channel on Youtube which was released a year ago. Which was
                                            what helped her to make this website come to life and solve the challenge she had for three years.
                                            The tutor on the Youtube channel lecture was very straight forward and  easy follow guide with explanation for her to understand what she was doing. She so much enjoyed the training and put a lot of passion into making this website.
                                        </p>
                                        <!-- Django episode (6) 13:30 -->

                    </div>
                    </div>
                    </header>
           
{% endblock %}